REDIS_URL=""
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_JWT_SECRET="thisisatestsecret"
NEXT_PUBLIC_OPERATOR_ADDRESS=""
OPERATOR_PRIVATE_KEY=""
FAUCET_ADDRESS=""
SUSDC_ADDRESS=""
ALCHEMY_API_KEY=""
SLACK_CHANNEL=""
SLACK_ACCESS_TOKEN=""