INTERNAL_FUNDING_BIND_ADDR="127.0.0.1:3002"
INTERNAL_FUNDING_TOKEN=""
INTERNAL_FUNDING_PRIVATE_KEY=""
INTERNAL_FUNDING_ADDRESS=""
INTERNAL_FUNDING_CHAIN_ID="5124"
INTERNAL_FUNDING_MAX_SUSDC_AMOUNT="250000000"
INTERNAL_FUNDING_GAS_SUSDC_AMOUNT="10000"
INTERNAL_FUNDING_GLOBAL_SUSDC_BUDGET="1000000000"
INTERNAL_FUNDING_GLOBAL_GAS_SUSDC_BUDGET="10000000"
INTERNAL_FUNDING_RATE_LIMIT="10"
INTERNAL_FUNDING_RATE_WINDOW_SECONDS="3600"
INTERNAL_FUNDING_CONFIRMATIONS="1"
INTERNAL_FUNDING_RECEIPT_TIMEOUT_MS="20000"
INTERNAL_FUNDING_LOCK_WAIT_MS="5000"
INTERNAL_FUNDING_REQUEST_TIMEOUT_MS="45000"
REDIS_URL="redis://127.0.0.1:6379/1"
RPC_URL="https://testnet-0.seismictest.net/rpc"
FAUCET_ADDRESS=""
