REDIS_URL=""
NEXTAUTH_URL="http://localhost:3001"
NEXTAUTH_JWT_SECRET="thisisatestsecret"
DISCORD_CLIENT_ID=""
DISCORD_CLIENT_SECRET=""
DISCORD_BOT_TOKEN=""
DISCORD_GUILD_ID=""
FAUCET_ADDRESS=""
SUSDC_ADDRESS=""
FAUCET_PRIVATE_KEY=""
SLACK_CHANNEL=""
SLACK_ACCESS_TOKEN=""
